## SET

In [1]:
#Set

S={}

In [2]:
s1={21,34,56,87}

In [3]:
s1

{21, 34, 56, 87}

In [4]:
s2={40,70,60,'nit',67}

In [5]:
s2

{40, 60, 67, 70, 'nit'}

In [6]:
s1[1] #as we dont have proper sequencing thats why indexing not subscriptable

TypeError: 'set' object is not subscriptable

## DICTIONARY

In [6]:
data= {1:'banana',2:'apple',3:'Orange'}

In [8]:
data[3]

'Orange'

In [9]:
data[4]

KeyError: 4

In [10]:
print(data.get(4))

None

In [11]:
data.get(1,'Not Found')

'banana'

In [12]:
data.get(4,'Not Found')

'Not Found'

In [13]:
data

{1: 'banana', 2: 'apple', 3: 'Orange'}

## ID

In [14]:
num =5
id(num)

140715036144552

In [15]:
a=10
id(a)

140715036144712

In [16]:
b=a

In [17]:
id(b) #thats why python is more memory efficient

140715036144712

In [18]:
id(10)

140715036144712

In [19]:
k=10
id(k)

140715036144712

In [20]:
PI=3.14 #in math this is alway constant but python we can't changge
PI

3.14

In [21]:
type(PI)

float

## range()

In [22]:
r=range(0,10)
r

range(0, 10)

In [23]:
# if you want to print the range 
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
r1=list(r)
r1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
#if you want to print even number
even_number=list(range(2,10,2))
even_number

[2, 4, 6, 8]

In [30]:
d= {1:'one', 2:'two', 3:'three'}
d

{1: 'one', 2: 'two', 3: 'three'}

In [31]:
type(d)

dict

In [32]:
d.keys()

dict_keys([1, 2, 3])

In [33]:
d.values()

dict_values(['one', 'two', 'three'])

In [34]:
d.get(2)

'two'

## unary operator 

Here we are applying unary minus operator(-) on the operand n; the value of m becomes -7, which indicates it as a negative value.

In [35]:
n=7 # negation

In [36]:
m= -(n)

In [37]:
m

-7

In [38]:
n

7

In [39]:
-n

-7

## swap variable in python 

(a,b = 5,6) After swap we should get  ==> (a, b = 6,5 )

In [40]:
a=5
b=6

In [71]:
a=b
b=a

In [42]:
a,b=b,a

In [63]:
print(a)
print(b)

6
6

In [72]:
# in above scenario we lost the value 5 
a1=7
b1=8

In [73]:
temp=a1
a1=b1
b1=temp

In [74]:
print(a1)
print(b1)

8
7

In [75]:
a2=5
b2=6

In [76]:
#swap variable formulas
a2 = a2 + b2
b2 = a2 - b2
a2 = a2 - b2

In [77]:
print(a2)
print(b2)

6
5

In [78]:
print(0b101) # 101 is 3 bit 
print(0b110) # 110 also 3bit

5
6

In [79]:
#but when we use a2 + b2 then we get 11 that means we will get 4 bit which is 1 bit extra 
print(bin(11))
print(0b1011)

0b1011
11

In [80]:
#there is other way to work using swap variable also which is XOR because it will not waste extra bit 
a2 = a2 ^ b2
b2 = a2 ^ b2
a2 = a2 ^ b2

In [81]:
print(a2)
print(b2)

5
6

In [82]:
a2 , b2 = b2, a2

In [83]:
print(a2)
print(b2)

6
5

### user input function in python || command line input

In [84]:
x=input()
y=input()
z=x+y
print(z) # console is waiting for user to enter input 
# also if you work in idle

In [85]:
x1 = input('Enter the 1st number') #whenevery you works in input function it always give you string 
y1 = input('Enter the 2nd number') # it wont understand as arithmetic operator
z1 = x1 + y1
print(z1)

6

In [87]:
type(x1)
type(y1)

str

In [88]:
x1 = input('enter the first number')
a1=int(x1)
y1=input('enter the second number')
b1=int(y1)
z1=a1+b1
print(z1)

9

for the above code notice we are using many lines because fo that wasting some memory spaces as well

In [90]:
x2=int(input('enter the first number'))
y2=int(input('enter the second number'))
z2=x2+y2
print(z2)

50

lets take input from the user in char format, but we dont have char format in python

In [91]:
ch= input('enter a char')
print(ch)

Hi I am Karthik

In [92]:
print(ch[0])

H

In [93]:
print(ch[1])

i

In [94]:
print(ch[-1])

k

In [95]:
ch= input('enter a char')[0]
print(ch)

H

In [96]:
ch= input('enter a char')[1:4]
print(ch)

i I

EVAL function using input

In [97]:
result=eval(input('enter an expr'))
print(result)

45