In [12]:
txt= "          abc def ghi        "
txt.lstrip()

'abc def ghi        '

In [13]:
text1='    abc def ghi    '
text1.strip()

'abc def ghi'

# **Using Escape Character**

In [14]:
#Using double quotes in the string is not allowed
string1="Hi I am "karthik" "

SyntaxError: invalid syntax (2873979936.py, line 2)

In [19]:
#Using escape character to allow illegal characters
string2= "Hi I am \"karthik\""
string2

'Hi I am "karthik"'

# **List**
1) List is an ordered sequence of items.
2) We can have different data types under a list. E.g we can have integer, float and string items in
a same list.

## List Creation

In [20]:
list1 = []  #Empty list
type(list1)

list

In [21]:
list2 = [10,55,60,70]  #list of integer numbers
list2

[10, 55, 60, 70]

In [22]:
list3 = [2.3, 4.56, 55.9, 60.00]   #list of float numbers
list3

[2.3, 4.56, 55.9, 60.0]

In [23]:
list4 = ['karthik', 'lakshmi', 'rahul']   #list of strings
list4

['karthik', 'lakshmi', 'rahul']

In [25]:
list5=['karthik',29,[12,34],['nice',20.3],'laksmi',67.99] # nested list
list5

['karthik', 29, [12, 34], ['nice', 20.3], 'laksmi', 67.99]

In [26]:
list6=['karthik', 30, 88.99] #list of mixed data types
list6

['karthik', 30, 88.99]

In [28]:
list7=['karthik' , {70,50.9}, 20.3]
list7

['karthik', {50.9, 70}, 20.3]

In [30]:
len(list7) # length of list

3

## List Indexing

In [31]:
list2[0] # Retreive first element of the list

10

In [32]:
list4[0] # Retreive first element of the list

'karthik'

In [33]:
list5[0][0] # Nested indexing - Access the first character of the first list element

'k'

In [34]:
list4[-1] # last item of the list

'rahul'

In [35]:
list5[-1] # Last item of the list

67.99

## List Slicing

In [1]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [2]:
mylist[0:3] # Return all items from 0th to 3rd index location

['one', 'two', 'three']

In [5]:
mylist[2:5] # List all items from 2nd to 5th index location excluding

['three', 'four', 'five']

In [4]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [19]:
mylist[:2] # return first 2 items

['one', 'two']

In [17]:
mylist[-3:] # return last three items

['six', 'seven', 'eight']

In [8]:
mylist[-1] #return last item of the list

'eight'

In [20]:
mylist[:] # returns whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## Add , Remove & Change Items

In [21]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [22]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [23]:
mylist.insert(9,'ten')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [33]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [36]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [37]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [38]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [39]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [41]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist[3] = 4
mylist[4] = 5
mylist[5] = 6
mylist[6] = 7

mylist

[1, 2, 3, 4, 5, 6, 7]

In [42]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [43]:
del mylist
mylist

NameError: name 'mylist' is not defined

## Copy List

In [44]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [45]:
mylist1 = mylist # Create a new reference "mylist1"

In [47]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(1333795211200, 1333795211200)

In [48]:
mylist2=mylist.copy() # Create a copy of the list

In [50]:
id(mylist2) # The address of mylist2 will be different from mylist

1333795373376

In [52]:
mylist[0]=1
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [54]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [56]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

## Join Lists

In [57]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [59]:
list3=list1+list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [60]:
list1.extend(list2) # extend list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## List Membership

In [65]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [66]:
'one' in list1 # Check if 'one' exist in the list

True

In [67]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [69]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [70]:
if 'ten' in list1:   # Check if 'ten' exist in the list
    print('there is ten in list')
else:
    print('there is no ten in list')

there is no ten in list

## Reverse & Sort List

In [71]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [72]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [73]:
list1[::-1] # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [75]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort()  # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [77]:
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [78]:
mylist4 = [88,65,33,21,11,98] # Returns a new sorted list and doesn't change original list
sorted(mylist4)

[11, 21, 33, 65, 88, 98]

In [79]:
mylist4

[88, 65, 33, 21, 11, 98]

## Loop through a list

In [80]:
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [82]:
for i in list1: 
    print(i)

eight
seven
six
five
four
three
two
one

In [83]:
for i in enumerate(list1):
    print(i)

(0, 'eight')
(1, 'seven')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'three')
(6, 'two')
(7, 'one')

In [84]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [85]:
list10.count('one')

3

In [86]:
list10.count('three')

2

In [87]:
list10.count('two')

2

## All / Any
The **all()** method returns:
- True - If all elements in a list are true
- False - If any element in a list is false
- The **any()** function returns True if any element in the list is True. If not, **any()** returns False.

In [88]:
L1 = [1,2,3,4,0]

In [90]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [92]:
any(L1) # Will Return True as we have items in the list with True value

True

In [93]:
L2 = [1,2,3,4,True,False]

In [94]:
all(L2) # Returns false as one value is false

False

In [95]:
any(L2) # Will Return True as we have items in the list with True value

True

In [96]:
L3 = [1,2,3,True]

In [97]:
all(L3) # Will return True as all items in the list are True

True