## Tuples
1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
change the elements of a tuple once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

## Tuple Creation

In [2]:
tup1 = () # Empty tuple
tup2 = (10,30,60) # tuple of integers numbers
tup3 = (10.77,30.66,60.89) # tuple of float numbers
tup4 = ('one','two' , "three") # tuple of strings
tup5 = ('Asif', 25 ,(50, 100),(150, 90)) # Nested tuples
tup6 = (100, 'Asif', 17.765) # Tuple of mixed data types
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [194]:
len(tup7) #Length of list

6

## Tuple Indexing

In [4]:
tup2[0] # Retreive first element of the tuple

'three'

In [5]:
tup4[0] # Retreive first element of the tuple

'one'

In [6]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple ele

'o'

In [7]:
tup4[-1] # Last item of the tuple

'three'

In [8]:
tup5[-1] # Last item of the tuple

(150, 90)

## Tuple Slicing

In [9]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [10]:
mytuple[0:3] # Return all items from 0th to 3rd index location

('one', 'two', 'three')

In [11]:
mytuple[2:5] # List all items from 2nd to 5th index location e

('three', 'four', 'five')

In [12]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [13]:
mytuple[:2] # Return first two items

('one', 'two')

In [14]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [15]:
mytuple[-2:] # Return last two items

('seven', 'eight')

In [16]:
mytuple[-1] # Return last item of the tuple

'eight'

In [17]:
mytuple[-1] # Return last item of the tuple

'eight'

## Remove & Change Items

In [18]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [19]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [20]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [21]:
del mytuple # Deleting entire tuple object is possible

## Loop through a tuple

In [25]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [27]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [28]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Count

In [29]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [30]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple

3

In [31]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [32]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

1

## Tuple Membership

In [33]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
'one' in mytuple # Check if 'one' exist in the list

True

In [35]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [37]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [38]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

## Index Position

In [39]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [40]:
mytuple.index('one') # Index of first element equal to 'one

0

In [41]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [42]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [43]:
mytuple1.index('one') # Index of first element equal to 'one'

0

## Sorting

In [44]:
mytuple2 = (43,67,99,12,6,90,67)

In [45]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [46]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

# Sets
1) Unordered & Unindexed collection of items.
2) Set elements are unique. Duplicate elements are not allowed.
3) Set elements are immutable (cannot be changed).
4) Set itself is mutable. We can add or remove items from it.




## Set Creation

In [49]:
myset={1,2,3,4,5} # set of numbers

In [50]:
len(myset) #Length of the set

5

In [51]:
myset={1,1,2,2,3,3,4,4,5,5} # duplicate numbers are not allowed
myset

{1, 2, 3, 4, 5}

In [52]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [53]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [54]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [55]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [58]:
myset4=set()
print(type(myset4))

<class 'set'>

In [60]:
myset1=set(('one','two','three','four'))
myset1

{'four', 'one', 'three', 'two'}

## Loop through a Set

In [61]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [62]:
for i in myset:
    print(i)

one
seven
eight
five
two
three
six
four

In [63]:
for i in enumerate(myset):
    print(i)

(0, 'one')
(1, 'seven')
(2, 'eight')
(3, 'five')
(4, 'two')
(5, 'three')
(6, 'six')
(7, 'four')

## Set Membership

In [64]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [65]:
'one' in myset # Check if 'one' exist in the set

True

In [66]:
'two' in myset # Check if 'two' exist in the set

True

In [67]:
'ten' in myset # Check if 'ten' exist in the set

False

In [68]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [69]:
if 'eleven' in myset: # Check if 'eleven' exist in the list
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

## Add & Remove Items

In [70]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [72]:
myset.add('NINE')  # Add item to a set using add() method

In [73]:
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'ten', 'three', 'two'}

In [76]:
myset.update(['ELEVEN','TWELVE']) # Add multiple item to a set using update method

In [77]:
myset

{'E',
 'ELEVEN',
 'L',
 'N',
 'NINE',
 'T',
 'TWELVE',
 'V',
 'W',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [78]:
myset.remove('ELEVEN') # remove item in a set using remove() method

In [79]:
myset.remove('TWELVE')

In [80]:
myset

{'E',
 'L',
 'N',
 'NINE',
 'T',
 'V',
 'W',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [82]:
myset.remove('E')

In [83]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'L',
 'N',
 'NINE',
 'T',
 'V',
 'W',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'two'}

In [85]:
myset.clear() # Delete all items in a set

In [86]:
del myset

In [87]:
myset

NameError: name 'myset' is not defined

## Copy Set

In [88]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [89]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [90]:
id(myset) , id(myset1)

(2008841940416, 2008841940416)

In [91]:
my_set2 = myset.copy() # Create a copy of the list
my_set2

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [92]:
id(my_set2)

2008841944672

In [93]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [94]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [95]:
my_set2 # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

## Set Operation


Union

In [96]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [97]:
A|B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [99]:
A.union(B,C) # Union of A and B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [100]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Intersection**

In [103]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [104]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [105]:
A.intersection(B) # Intersection of A and B

{4, 5}

In [107]:
"""
Updates the set calling the intersection_update() method with the intersection o
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

**Difference**

In [108]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [109]:
A-B # set of elements that are only in A but not in B

{1, 2, 3}

In [110]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [111]:
B- A # set of elements that are only in B but not in A

{6, 7, 8}

In [112]:
B.difference(A)

{6, 7, 8}

In [113]:
"""
Updates the set calling the difference_update() method with the difference of se
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

**Symmetric Difference**

In [114]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [115]:
A^B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUSIVE TO BOTH"

{1, 2, 3, 6, 7, 8}

In [117]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [118]:
"""
Updates the set calling the symmetric_difference_update() method with the symmet
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

**Subset , Superset & Disjoint**

In [123]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [124]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in the A

True

In [125]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are in A

True

In [126]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements in both sets

True

In [127]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements in both sets

False

In [128]:
B.isdisjoint(A)

False

**Other Builtin functions**

In [129]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [130]:
sum(A)

45

In [131]:
max(A)

9

In [132]:
min(A)

1

In [133]:
len(A)

9

In [134]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [135]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [136]:
D= sorted(A)
D

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary
- Dictionary is a mutable data type in Python.
- A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed
in curly braces {}.
- Keys must be unique in a dictionary, duplicate values are allowed.

**Create Dictionary**

In [137]:
mydict = dict() # empty dictionary
mydict

{}

In [138]:
mydict={}
mydict

{}

In [139]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [140]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [141]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [142]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [143]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [144]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [145]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [146]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with a list 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [148]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria'], 'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [149]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [150]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3=dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'c': None, 'd': None, 'a': None, 'b': None}

In [151]:
keys = {'a' , 'b' , 'c' , 'd'}
value=10
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': 10, 'd': 10, 'a': 10, 'b': 10}

In [152]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'c': [10, 20, 30], 'd': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [154]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40, 40],
 'd': [10, 20, 30, 40, 40],
 'a': [10, 20, 30, 40, 40],
 'b': [10, 20, 30, 40, 40]}

## Accessing Items

In [155]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [156]:
mydict[1] # Access item using key

'one'

In [157]:
mydict.get(1)  # Access item using get() method

'one'

In [158]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [159]:
mydict1.get('Name')

'Asif'

In [160]:
mydict1.get('job')

'Analyst'

**Add, Remove & Change Items**

In [161]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [165]:
mydict['DOB']=1992 # Changing Dictionary Items
mydict['Address']='Delhi'

In [166]:
dict1={'DOB':1993}
mydict.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [167]:
mydict1['job']='analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'job': 'analyst'}

In [168]:
mydict1.pop('job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [169]:
del mydict1['ID']

In [170]:
mydict1

{'Name': 'Asif', 'DOB': 1991, 'Address': 'Hilsinki'}

In [171]:
del mydict1

In [173]:
Mydict1

NameError: name 'Mydict1' is not defined

**Copy Dictionary**

In [174]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [176]:
mydict1=mydict # Create a new reference "mydict1"

In [177]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2008842571392, 2008842571392)

In [178]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [179]:
mydict['Address'] = 'Mumbai'

In [180]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [181]:
mydict1 # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [182]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

**Loop through a Dictionary**

In [184]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' ,
'Job': 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [185]:
for i in mydict1:
    print(i ,':', mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [186]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilsinki
Analyst

**Dictionary Membership**

In [187]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [188]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [189]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [190]:
'ID' in mydict1

True

In [191]:
'Address' in mydict1

False

# All / Any

  The all() method returns:
- True - If all all keys of the dictionary are true
- False - If any key of the dictionary is false


The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [192]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [193]:
all(mydict1) # Will Return false as one value is false (Value 0)

True