## Tuple Creation

In [36]:
tup1=()
type(tup1)

tuple

In [37]:
tup2=(10,20,30,40)   # tuple of integer numbers
tup2

(10, 20, 30, 40)

In [38]:
tup3=(20.5,30.56,40.44)  # tuple of float numbers
tup3

(20.5, 30.56, 40.44)

In [39]:
tup4=('Hi','I am','karthik')  # tuple of strings
tup4

('Hi', 'I am', 'karthik')

In [40]:
tup5=(20,'Hi I am',('karthik',30.5),('hello',20,55.5)) #nested tuple
tup5

(20, 'Hi I am', ('karthik', 30.5), ('hello', 20, 55.5))

In [41]:
tup6=(20,30.45,'Hello',True) # tuple of mixed data types
tup6

(20, 30.45, 'Hello', True)

In [42]:
tup7=(20, 30.5, ['hello', True], {'Nice',20, False}, True)
tup7

(20, 30.5, ['hello', True], {20, False, 'Nice'}, True)

## Tuple Indexing

In [43]:
tup2[0] # Retrieve the first element of tuple

10

In [44]:
tup4[0] # Retrieve the first element of tuple

'Hi'

In [45]:
tup4[0][0] # Nested indexing - accesing the first character of the first element

'H'

In [46]:
tup4[-1] # accesing the last element of the tuple

'karthik'

In [47]:
tup5[-1] #last item of the tuple

('hello', 20, 55.5)

## Tuple Slicing

In [48]:
mytuple=('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [49]:
mytuple[0:3] # returns items from 0th to 2nd idex location

('one', 'two', 'three')

In [50]:
mytuple[2:5] #returns items from 2nd to 4th idex location

('three', 'four', 'five')

In [51]:
mytuple[:3] # gives first three items

('one', 'two', 'three')

In [52]:
mytuple[:2] # returns first two items

('one', 'two')

In [53]:
mytuple[-3:] # returns last three items

('six', 'seven', 'eight')

In [54]:
mytuple[-2:] #returns last two items

('seven', 'eight')

In [55]:
mytuple[-1:] # returns last one item

('eight',)

In [56]:
mytuple[:] # returns whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [57]:
mytuple[3:] # returns every other item except first three

('four', 'five', 'six', 'seven', 'eight')

In [58]:
mytuple[:-3] # returns every item except last  three

('one', 'two', 'three', 'four', 'five')

## Remove and Change items

In [59]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [60]:
del mytuple[0] # tuples are immutable which means we can't delete tuple

TypeError: 'tuple' object doesn't support item deletion

In [61]:
mytuple[0]=1 # # tuples are immutable which means we can't change tuple

TypeError: 'tuple' object does not support item assignment

In [62]:
del mytuple # Deleting entire tuple is possible

In [63]:
mytuple

NameError: name 'mytuple' is not defined

## Loop through a tuple

In [64]:
mytuple=('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [65]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [66]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [67]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Tuple Membership

In [68]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [69]:
'one' in mytuple # checks if 'one' exists in tuple

True

In [70]:
'ten' in mytuple # checks if 'ten' exists in tuple

False

In [71]:
if 'three' in mytuple: # checks if 'three' exists in tuple
    print('There is three in tuple')
else:
    print('There is no three in tuple')

There is three in tuple

In [72]:
if 'ten' in mytuple: # checks if 'ten' exists in tuple
    print('There is ten in tuple')
else:
    print('There is no ten in tuple')

There is no ten in tuple

## Index Position

In [73]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [74]:
mytuple.index('one') # index of first element equal to 'one'

0

In [75]:
mytuple.index('five') # index of fourth element equal to 'five'

4

In [77]:
mytuple1=mytuple

In [78]:
mytuple1

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [79]:
mytuple1.index('one') # index of first element equal to 'one'

0

## Sorting

In [80]:
mytuple2=(62,75,19,20,5,60)

In [84]:
sorted(mytuple2) # returns a new sorted tuple and doesn't change original tuple

[5, 19, 20, 60, 62, 75]

In [83]:
mytuple2

(62, 75, 19, 20, 5, 60)

In [86]:
sorted(mytuple2,reverse=True) # Sort in descending order

[75, 62, 60, 20, 19, 5]