In [76]:
# Variables in Python

first_name = 'KARTHIK'
last_name = 'REDDY'
country = 'HYD'
city = 'TELENGANA'
age = 24
is_married = False
skills = ['HTML', 'CSS', 'Python']
person_info = {
    'firstname':'Karthik', 
    'lastname':'Reddy', 
    'country':'India',
    'city':'Hyderabad'
    }

# Printing the values stored in the variables

print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

# Declaring multiple variables in one line

first_name, last_name, country, age, is_married = 'Karthik', 'Reddy', 'Hyderabad', 24, False

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

First name: KARTHIK
First name length: 7
Last name:  REDDY
Last name length:  5
Country:  HYD
City:  TELENGANA
Age:  24
Married:  False
Skills:  ['HTML', 'CSS', 'Python']
Person information:  {'firstname': 'Karthik', 'lastname': 'Reddy', 'country': 'India', 'city': 'Hyderabad'}
Karthik Reddy Hyderabad 24 False
First name: Karthik
Last name:  Reddy
Country:  Hyderabad
Age:  24
Married:  False

# **Complex**

In [77]:
c=10+20j
c

(10+20j)

In [78]:
type(c)

complex

In [79]:
d=30+40j

In [80]:
print(c)
print(d)

(10+20j)
(30+40j)

In [81]:
c+d

(40+60j)

In [82]:
c-d

(-20-20j)

In [83]:
c

(10+20j)

In [84]:
c.real

10.0

In [85]:
c.imaginary

AttributeError: 'complex' object has no attribute 'imaginary'

In [16]:
c.imag

20.0

# **Type Casting**

- CONVERT FROM 1 DATATYPE TO OTHER DATA TYPE
- FROM ALL OTHER DATATYPE TO INT, OR COMPLEX, FLOAT, BOOL,

In [17]:
int(2.3)

2

In [18]:
int(True)

1

In [19]:
int(1+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [20]:
int('10')

10

In [21]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

In [22]:
float(100)

100.0

In [23]:
float(False)

0.0

In [24]:
float(10+20j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [25]:
float('10')

10.0

In [26]:
float('ten')

ValueError: could not convert string to float: 'ten'

In [27]:
int(10.23,20.23)

TypeError: 'float' object cannot be interpreted as an integer

In [28]:
complex(1)

(1+0j)

In [29]:
float(10,2,4,6)

TypeError: float expected at most 1 argument, got 4

In [30]:
complex(1,2)

(1+2j)

In [31]:
complex(10,20.3)

(10+20.3j)

In [32]:
complex(1,2,3)

TypeError: complex() takes at most 2 arguments (3 given)

In [33]:
complex(10.23,20.43221)

(10.23+20.43221j)

In [34]:
complex(True,False)

(1+0j)

In [35]:
complex(False,True)

1j

In [36]:
complex('10','20')

TypeError: complex() can't take second arg if first is a string

In [37]:
str(10)

'10'

In [38]:
str(True)

'True'

In [39]:
str(1+2j)

'(1+2j)'

In [40]:
bool(10)

True

In [41]:
bool(0)

False

In [42]:
bool()

False

In [43]:
bool(2.3)

True

In [44]:
bool(1+2j)

True

In [45]:
bool('string')

True

# **Operators**

In [67]:
# Arithmetic Operations in Python
# Integers

print('Addition: ', 10 + 223)
print('Subtraction: ', 22 - 11)
print('Multiplication: ', 32 * 66)
print ('Division: ', 40 / 10)                         # Division in python gives floating number
print('Division: ', 60 / 5)
print('Division: ', 77 / 4)
print('Division without the remainder: ', 77 // 4)   # gives without the floating number or without the remaining
print('Modulus: ', 34 % 2)                           # Gives the remainder
print ('Division without the remainder: ', 73 // 5)
print('Exponential: ', 3 ** 2)                     # it means 3 * 3

Addition:  233
Subtraction:  11
Multiplication:  2112
Division:  4.0
Division:  12.0
Division:  19.25
Division without the remainder:  19
Modulus:  0
Division without the remainder:  14
Exponential:  9

In [ ]:
# Floating numbers
print('Floating Number,PI', 3.14)
print('Floating Number, gravity', 9.81)

# Complex numbers
print('Complex number: ', 1 + 1j)
print('Multiplying complex number: ',(1 + 1j) * (1-1j))

# Declaring the variable at the top first

a = 3 # a is a variable name and 3 is an integer data type
b = 2 # b is a variable name and 3 is an integer data type

# Arithmetic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b


# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

Floating Number,PI 3.14
Floating Number, gravity 9.81
Complex number:  (1+1j)
Multiplying complex number:  (2+0j)
5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [71]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [72]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

Area of a circle: 314.0
Area of rectangle: 200
735.75 N

In [74]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and False)
print('True or False:', True or False)

True
True
False
True
True
False
True
False
True
True
False
True
True
False
True == True:  True
True == False:  False
False == False: True
True and True:  False
True or False: True

In [75]:
# Another way comparison 
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True
True
False
False
True
True
False
False
False
True
True
False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\DELL\AppData\Local\Temp\ipykernel_5480\4230409570.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\DELL\AppData\Local\Temp\ipykernel_5480\4230409570.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
C:\Users\DELL\AppData\Local\Temp\ipykernel_5480\4230409570.py:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True