In [880]:
import sys
import keyword
import operator
from datetime import datetime
import os

# **Keywords**

Keywords are the reserved words in Python and can't be used as an identifier

In [881]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [882]:
len(keyword.kwlist)

35

# **Identifiers**
An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate
one entity from another.

In [883]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase
"""
val2 = 10
val_ = 99
# Identifier can't use special symbols
# Keywords can't be used as identifiers
# Identifier can't start with a digit

# **Comments in Python**
Comments can be used to explain the code for more readabilty.

In [884]:
# This is a single line comment
cal2 = 'karthik'

In [885]:
'''
Multiple
line
comment
'''
karthik = 24

# **Statements**
Instructions that a Python interpreter can execute.

In [886]:
p= 20 #Creates an integer object with value 20 and assigns the variable p to p
q = 20 # Create new reference q which will point to value 20. p & q will be poi
r = q # variable r will also point to the same location where p & q are pointin
print(p , type(p), hex(id(p))) # Variable P is pointing to memory location '0x7fff6d71a

print(q , type(q), hex(id(q)))
print(r , type(r), hex(id(r)))

20 <class 'int'> 0x7ffb83ef7588
20 <class 'int'> 0x7ffb83ef7588
20 <class 'int'> 0x7ffb83ef7588

In [887]:
p = 20
p = p + 10 # Variable Overwriting
p

30

# **Variable Assigment**

In [888]:
intvar=10 #integer variable
floatvar=2.57 #float variable
stringvar="Python language"

print(intvar)
print(floatvar)
print(stringvar)

10
2.57
Python language

# **Multiple assignments**

In [889]:
intvar, floatvar, stringvar = 20, 2.56, "Python Language"
print(intvar,floatvar,stringvar)

20 2.56 Python Language

In [890]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

# **Datatypes**


Numerics

In [891]:
val1= 20 #val1 is an integer datatype
print(val1)
print(type(val1))   # type of object
print(sys.getsizeof(val1)) # size of float object in bytes
print(val1 , "is integer?", isinstance(val1,int))

20
<class 'int'>
28
20 is integer? True

In [892]:
val2= 20.34 #val2 is a float datatype
print(val2)
print(type(val2))   # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2 , "is float?", isinstance(val2,float))

20.34
<class 'float'>
24
20.34 is float? True

In [893]:
val3= 20+35j #val2 is a float datatype
print(val3)
print(type(val3))   # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3 , "is complex?", isinstance(val3,complex))

(20+35j)
<class 'complex'>
32
(20+35j) is complex? True

In [894]:
sys.getsizeof(int()) # size of integer object in bytes

28

In [895]:
sys.getsizeof(float()) # size of float object in bytes

24

In [896]:
sys.getsizeof(complex()) # size of complex object in bytes

32

# **Boolean**

Boolean data type can have only two possible values true or false.

In [897]:
bool1=False

bool2=True

print(type(bool1))

print(type(bool2))

print(isinstance(bool1,bool))

print(sys.getsizeof(bool1))

print(bool(0))

print(bool(1))

<class 'bool'>
<class 'bool'>
True
28
False
True

# **String**


String Creation

In [898]:
str1= "Hello Python"
print(str1)

Hello Python

In [899]:
str1 ='Hello World' #Defining string using single quotes
print(str1)

Hello World

In [900]:
str1 ='Hello World' #Defining string using double quotes
print(str1)

Hello World

In [901]:
str1 ='''Hello World''' #Defining string using triple single quotes
print(str1)

Hello World

In [902]:
str1 ="""Hello World""" #Defining string using triple double quotes
print(str1)

Hello World

In [903]:
mystring='Happy''Friday''Guys'
print(mystring)

HappyFridayGuys

In [904]:
mystring2= 'Hi guys '
mystring2=mystring2*4
print(mystring2)

Hi guys Hi guys Hi guys Hi guys

In [905]:
len(mystring2)

32

# **Forward and Backward Indexing**

In [906]:
str1='Hello World'

str1[0] # First character in string "str1"

'H'

In [907]:
str1[4]

'o'

In [908]:
len(str1)

11

In [909]:
str1[len(str1)-1] # Last character in string using len function

'd'

In [910]:
str1[-1] # Last character in string

'd'

In [911]:
str1[5]

' '

# **String Slicing**

In [912]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index

'Hello'

In [913]:
str1[6:11] # String slicing - Retreive all characters between 6 - 11 index

'World'

In [914]:
str1[-4:] # Retreive last four characters of the string

'orld'

In [915]:
str1[-6:] # Retreive last six characters of the string

' World'

In [916]:
str1[:4] # Retreive first four characters of the string

'Hell'

In [917]:
str1[:6] # Retreive first six characters of the string

'Hello '

In [918]:
str1[7:]

'orld'

# **Update & Delete String**

In [919]:
str1

'Hello World'

In [920]:
#Strings re immutable which means elements of a string cannot be changed
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [879]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

# **String concatenation**

In [921]:
# String concatenation
s1 = "Hello"
s2 = "karthik"
s3 = s1 + s2
print(s3)

Hellokarthik